<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meter.name %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @meter.serial %>
</p>

<%= link_to 'Edit', edit_meter_path(@meter) %> |
<%= link_to 'Back', meters_path %>
